In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn import svm, preprocessing, neighbors
import math 
import random

In [3]:
df = pd.read_csv('ship-train.csv')
df.head()
ids = df.PassengerId
df.head()
sdm = ['A','B','C','D','E','F','G']

In [4]:
df.drop(['PassengerId','Name','Ticket'],1,inplace=True)
df.Sex = df['Sex'].map({'male':0, 'female':1})
df.Embarked = df['Embarked'].map({'S':1, 'Q':0, 'C':2})
#df.fillna({'Survived':0, 'Pclass':2, 'Sex':0, 'Age':sum(np.array(df['Age'].dropna()))/len(np.array(df.Age.dropna())),'SibSp':math.floor(sum(np.array(df['SibSp'].dropna()))/len(np.array(df['SibSp'].dropna()))),'Parch':0,'Fare':sum(np.array(df['Fare'].dropna()))/len(np.array(df['Fare'].dropna()))}, inplace=True)
df['Cabin'].fillna(random.choice(sdm),inplace=True)
df.fillna('1',inplace=True)
for i in range(len(df)):
       df.Cabin.loc[i] = ord(str(df.Cabin.loc[i])[0])%65
df.head()

/Users/noirdemort/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   Survived  Pclass  Sex Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    0  22      1      0   7.2500     0        1
1         1       1    1  38      1      0  71.2833     2        2
2         1       3    1  26      0      0   7.9250     0        1
3         1       1    1  35      1      0  53.1000     2        1
4         0       3    0  35      0      0   8.0500     0        1

In [5]:
df1 = pd.read_csv('ship-test.csv')
df1.head()
df1.drop(['Name','Ticket'],1,inplace=True)
df1.head()
set(df.Cabin)

{0, 1, 2, 3, 4, 5, 6, 19}

In [6]:
df1.head()
df1.Sex = df1['Sex'].map({'male':0, 'female':1})
df1.Embarked = df1['Embarked'].map({'S':1, 'Q':0, 'C':2})

for i in range(len(df1)):
        df1.Cabin.loc[i] = random.randint(0,7)

df1.fillna('1',inplace=True)
#df1.fillna({'Survived':0, 'Pclass':2, 'Sex':0, 'Age':sum(np.array(df1['Age'].dropna()))/len(np.array(df1.Age)),'SibSp':math.floor(sum(np.array(df1['SibSp'].dropna()))/len(np.array(df1['SibSp']))),'Parch':0,'Fare':sum(np.array(df1['Fare'].dropna()))/len(np.array(df1['Fare']))}, inplace=True)
#df1['Age'].fillna(method='bfill',inplace=True)
df1.head()

/Users/noirdemort/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0          892       3    0  34.5      0      0   7.8292      2         0
1          893       3    1    47      1      0        7      1         1
2          894       2    0    62      0      0   9.6875      0         0
3          895       3    0    27      0      0   8.6625      5         1
4          896       3    1    22      1      1  12.2875      5         1

In [7]:
# for conversion to float
for i in df.columns:
    df[i] = df[i].astype(np.float64)

for i in df1.columns:
    df1[i] = df1[i].astype(np.float64)
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       0.0     3.0  0.0  22.0    1.0    0.0   7.2500    0.0       1.0
1       1.0     1.0  1.0  38.0    1.0    0.0  71.2833    2.0       2.0
2       1.0     3.0  1.0  26.0    0.0    0.0   7.9250    0.0       1.0
3       1.0     1.0  1.0  35.0    1.0    0.0  53.1000    2.0       1.0
4       0.0     3.0  0.0  35.0    0.0    0.0   8.0500    0.0       1.0

In [8]:
x = np.array(df.drop(['Survived'],1))
#x = preprocessing.scale(x)
y = np.array(df['Survived'])

In [15]:
clf = svm.SVC(kernel='rbf')
clf.fit(x,y)
accuracy = clf.score(x,y)
print(accuracy)

# clf = neighbors.KNeighborsClassifier(n_jobs=-1) # n-jobs available for this.
# clf.fit(x, y)
# accuracy = clf.score(x,y)
# print(accuracy)

# clf = KMeans(n_clusters=2)
# clf.fit(x)
# accuracy = clf.score(x,y)
# print(accuracy)

0.89898989899

In [33]:
test_ids = df1[['PassengerId']]
df1.drop(['PassengerId'],1,inplace=True)
df1.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0     3.0  0.0  34.5    0.0    0.0   7.8292    5.0       0.0
1     3.0  1.0  47.0    1.0    0.0   7.0000    4.0       1.0
2     2.0  0.0  62.0    0.0    0.0   9.6875    7.0       0.0
3     3.0  0.0  27.0    0.0    0.0   8.6625    1.0       1.0
4     3.0  1.0  22.0    1.0    1.0  12.2875    5.0       1.0

In [34]:
test_ids['Survived'] = np.NaN

/Users/noirdemort/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
predict_x = np.array(df1)
predict_x = predict_x.reshape(len(predict_x),-1)
prediction = clf.predict(predict_x)

In [36]:
for i in range(len(predict_x)):
    test_ids['Survived'].loc[i] = prediction[i]
print('finished')

/Users/noirdemort/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

finished

In [37]:
import csv
with open('upload.csv','w') as fp:
    sw = csv.writer(fp, delimiter=',')
    sw.writerow(['PassengerId','Survived'])
    for i in range(len(test_ids)):
        a = int(test_ids['PassengerId'].loc[i])
        b = int(test_ids['Survived'].loc[i])
        sw.writerow([a,b])